{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}

    {{ form_start(form) }}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    {{ form_end(form) }}
{% endblock %}