{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Clothes.com{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-7 my auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-page-price">{{ (product.price /100)|number_format(2, ',', '.') }} €</span>

            <hr>

            <p>{{ product.description }}</p>
            <div class="mt-2"> 
                <form method="post">
                    {% if productCartCount is not null and productCartCount %}
                        <p id="info-quantity"> Quantité dans votre panier {{ productCartCount }}</p>
                        <div class="form-group">
                            <input name="quantityProduct" type="number" class="form-control col-2" value="1" placeholder="Entrez un nombre">
                        </div>
                    {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter au panier</a>
                </form>
        </div>
    </div>
    <h3>Nos meilleures ventes</h3>
    <p>Découvrez les articles les plus vendus!</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include "product/single_product.html.twig" %}
            </div>
        {% endfor %}
    </div>
{% endblock %}