{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="block-small">
   <h2>Une erreur est survenue</h2>
   <a href="{{ path('home') }}" class="btn btn-info">Revenir à l'accueil</a>
</div>
{% endblock %}
