{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <h1>Page not found {{ code }}</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
    <p>Code {{ code }}</p>
    <p>Header : {{ header }}</p>
{% endblock %}