{% extends 'base.html.twig' %}

{% block title %}Mon panier - Clothes.com{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    {% if cart|length > 0 %}
        Retrouvez l'ensemble des produits que vous avez ajouté à votre panier
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col"></th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix à l'unité</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% set countProducts = null %}
            {% for product in cart %}
                <tr>
                    <th>
                        <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.illustration }}" height="75px" id="product-{{product.product.id}}"></br>              
                    </th>
                    <td>
                        {{ product.product.name }} </br>
                        {{ product.product.subtitle }}
                    </td>
                    <td>
                        <a href="{{ path('decrease_to_cart', {'id': product.product.id })}}">
                            <img src="{{ asset('assets/img/minus.png') }}" height="12px" alt="Retirer une quantité à mon produit">
                        </a>

                        <small  id="info-quantity">x {{ product.quantity }}</small> 

                        <a href="{{ path('add_to_cart', {'id': product.product.id })}}">
                            <img src="{{ asset('assets/img/more.png') }}" height="12px" alt="Ajouter un produit">
                        </a>
                    </td>
                    <td> <p id="uniti-price">{{ (product.product.price /100)|number_format(2, ',', '.') }} €</p></td>
                    <td> <p id="total-price"> {{ (product.product.price * product.quantity /100)|number_format(2, ',', '.') }} €</p></td>
                    <td>
                        <a href="{{ path('delete_to_cart' , {'id': product.product.id})}}">
                            <img src="{{ asset('assets/img/delete.png') }}" height="18px" alt="Supprimer mon produit">
                        </a>
                    </td>
                </tr>
                {% set total = total + (product.product.price * product.quantity) %}
                {% set countProducts = countProducts + product.quantity %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right nb-5">
        <p id="info-quantity-recap"><b>Nombre de produit(s): </b> {{ countProducts }}</p> </br>
            <p id="total-price-recap"><b>Prix de mon panier: </b>{{ (total/100)|number_format(2, ',', '.') }} €</p> 
            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
    <p class="text-center"><b>Votre panier est vide!</b></p>
    {% endif %}
{% endblock %}