body {
    position: relative;
}


.navbar-item-custom a, .navbar-item-custom {
    color: #fff;
}

.footer-custom {
    color: rgb(255,255,255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #343a40!important;
}
.product-item {
    margin-top: 50px;
}
.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container{
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 19px;
}

.cart-icon{
    height: 20px;
    padding-left: 20px;
}

.block-small{
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    color: black;
    background-color: rgba(247, 247, 247, 0.973);
    padding: 20px;
    padding-left: 40px;
    margin-top: 7px;
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    color: black;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 22px;
    
}

.account-item{
    background-color: #f1f2f6;
    padding: 70px;
}

.account-item a {
    text-transform: uppercase;
    font-size: 13px;
    color: #4b65b4;
    font-weight: bold;

}

.account-item a:hover {
    color: #778ca3;
    text-decoration: none;

}

.container a , .navbar-item-custom a{
    text-decoration: none;
}
.container {
    height: 100vh;
}
