{% extends 'base.html.twig' %}

{% block title %}Mon compte - Clothes.com{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue  dans votre compte {{ app.user.firstname }}. </br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <small><a href="/admin">Vous êtes un administrateur, accéder au backoffice</a></small>
    {% endif %}

    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/secure.png') }}" alt="Modifier mon mot de passe"><br/>
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/home.png') }}" alt="Gérer mes adresses"><br/>
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/shopping.png') }}" alt="Mes commandes"><br/>
                <a href="{{ path('account_order') }}">Mes commandes</a>
            </div>
        </div>
    </div>
{% endblock %}