{% extends 'base.html.twig' %}

{% block title %}Ma commandes - Clothes.com{% endblock %}

{% block content %}
    <h1>Ma commandes {{ order.reference }}</h1>
    <a href="{{ path('account_order')}}">Retour</a>
    <hr>
    <strong>Statut de la commande:</strong>
    {% if orderStatuses[order.state] is defined %}
        {{ orderStatuses[order.state] }}
    {% endif %}
    </br>
    <strong>Commande passée le:</strong> {{ order.createdAt | date('d/m/Y') }} </br>
    <strong>Référence de ma commande:</strong> <small>{{ order.reference }}</small></br>
    <strong>Transporteur choisi:</strong> {{ order.carrierName }}

    <hr>

    <strong>Détails</strong>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for product in order.orderDetails %}
            <tr>
                <th>{{ product.product }}</th>
                <td>x {{ product.quantity }}</td>
                <td>{{ (product.price / 100)|number_format(2, ',', ',') }} €</td>
                <td>{{ (product.total / 100)|number_format(2, ',', ',') }} €</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
        <strong>Sous-total:</strong> {{ (order.gettotal / 100)|number_format(2, ',', ',') }} €</br>
        <strong>Livraison:</strong> {{ (order.carrierprice / 100)|number_format(2, ',', ',') }} €</br>
        <strong>Total:</strong> {{ ((order.carrierPrice + order.getTotal) / 100) | number_format(2, ',', ',') }} €
    </div>
{% endblock %}