{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Clothes.com{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <hr>
    <a href="{{ path('account') }}">Retourner à mon compte</a>

    {% if notification %}
        <div class="{{ alert }}">{{ notification }}</div>
    {% endif %}

    <hr>
    {{ form(form) }}
{% endblock %}