{% extends 'base.html.twig' %}

{% block title %}Nous contacter - Clothes.com{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">
            {{ form(form)}}
        </div>
        <div class="col-md-4">
            <strong>Clothes.com</strong>
            <hr>
            06 84 98 65 78<br/>
            1 avenue des Champs, 75008 Paris</br>
            clothes.project.bbitbucket@gmail.com <br/>
        </div>
    </div>
{% endblock %}